<div class="burger-container row d-flex justify-content-between m-5">
    <div class="col-3 burgers neon-text overflow-auto">
        {{#each burgers}}
        {{#unless devoured}}
        <div class="card py-2 my-3">
            <div class="card-body">
                <p class="card-title pb-2">{{this.burger_name}}</p>
                <button class="btn btn-primary monch-btn" data-id="{{this.id}}"><i class="fas fa-hamburger"></i> DEVOUR <i
                        class="fas fa-hamburger"></i></button>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div class="col-3 burgers neon-text devoured overflow-auto">
        {{#each burgers}}
        {{#if devoured}}
        <div class="card py-2 my-3">
            <div class="card-body">
                <p class="card-title">{{this.burger_name}}</p>
                <button class="btn btn-primary devoured-btn" id="{{this.id}} disabled">Monched and Gone</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<div class="row d-flex justify-content-center">
    <p class="neon-text create-burger">Don't see a burger you like? Make one!</p>
    <form class="col-5 d-flex align-items-end">
        <input class="form-control me-2 create-input" aria-label="Create">
        <button class="btn btn-primary create-btn" type="submit">ASSEMBLE!</button>
    </form>
</div>