  
body {
    margin: 0px;
    background-image: url(../img/heroimg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.burger-container {
    height: 70vh;
}

.burgers {
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.neon-text {
    color: #FFFFFF;
    font-family: 'Mali', cursive;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #CEEEFF, 0 0 10px #CEEEFF;
    text-align: center;
}

.btn-primary, .btn-primary:focus {
    background-color: #004D7C;
    border: none;
}

.btn-primary:hover {
    background-color: #003C61;
}

.fa-hamburger {
    color: #FFCB00;
    text-shadow: 0 0 5px #CEEEFF, 0 0 10px #CEEEFF;
}

.burgers::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: rgba(0, 135, 225, 0.8);
    border: none;
}

.devoured {
    opacity: 0.7;
}

.devoured-btn:hover {
    background-color: #004D7C;
}

.create-burger {
    font-size: 1.6rem;
}

.create-input, .create-input:focus {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}
